@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
}

body {

    font-family: 'Electrolize', sans-serif;
}

.section-container {
    background-color: black;
    color: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: black;
    height: 50px;
    color: white;
}

.image {
    padding-left: 8%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: red;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.menu-item {
    cursor: pointer;
}

.menu-item:hover {
    font-weight: bold;
}

.menu-item.active {
    font-weight: bold;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}


.toggle {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 1px;
}

.toggle-icon {
    color: goldenrod;
}

.sidebar {
    background-color: black;
    height: 100%;
    width: 60px;
    color: white;
    position: fixed;
    top: 0;
}

.sidebar-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    row-gap: 40px;
}

.sidebar i {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

/* section start */
.container {
    margin-left: 60px;

}


.container-1 {
    background: url(img/brooklynn.jpg) fixed no-repeat;
    height: calc(100vh - 170px);
    padding: 60px;
    background-size: 100% 100%;
}

.p-description {
    color: black;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 30px 0;
}

.buttons-container {
    display: flex;
    gap: 15px;
}

.buttons-container button {
    padding: 5px 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    gap: 6px;
    font-size: 15px;
    font-weight: bold;
}

.info-button {
    background-color: rgba(145, 142, 142, 0.5);
    color: white;
}

.movie-categories {
    margin: 10px 0 10px 50px;
    padding: 20px;
}

.movie-categories select {
    background-color: black;
    color: white;
    padding: 5px;
    width: 100px;
}

.movie-list-container {
    margin-left: 70px;
}

.movie-item {
    position: relative;
}

.movie-item:hover .movie-item-buttons {
    opacity: 1;

}

.movie-list {
    list-style-type: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.movie-list-wrapper {
    overflow: hidden;
    margin-top: -30px;
    position: relative;
}

.movie-item-img {
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-item:hover .movie-item-img {
    transform: scale(1.1);
    transition: 1s all;
    opacity: 0.5;
}

.movie-item-buttons {
    background-color: rgba(40, 40, 40, 0.5);
    padding: 0 10px;
    bottom: 5%;
    position: absolute;
    left: 90px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: 1s all;

}

.movie-item-buttons i {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.movie-item-buttons i:hover {
    opacity: 1;
}

.arrow {
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: 0.5s;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

/* section end */

/* dark mode start */
.section-container.active {
    background-color: white;

}

.navbar.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.sidebar i.active {
    color: black;
}

.toggle.active {
    background-color: black;
    transform: translateX(-10px);
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

.movie-categories select.active {
    background-color: white;
    color: black;
}

.movie-list-tittle.active {
    color: black;
}

/* dark mode end */